@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
    list-style: none;
    box-sizing: border-box;     
}

/* css do cabeçalho*/

.header{
    background-color: #FFFFFF;
    /* width: 1440px; */
    width: 100%;
    height: 200px;
}

.header-top {
    height: 120px;
    padding: 30px;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;

}

.header-top img {
    width:auto;
    height: 30px;
}

.header-top .icon {
    width: auto;
    height: 25px;
}

.header-top .icon:hover {
    width: auto;
    height: 27px;
    transition: all 200ms ease;
}

.header-top button {
    width: 80px;
    height: 30px;
    color: aliceblue;
    background: #C92071;
    border-radius: 4px;
    cursor: pointer;
}

.header-top button:hover {
    background: #991956;
    transition: all 200ms ease;
}

.header-top form {
    display: flex;
    align-items: center;
}

.header-top form input {
    background-color: #dadada;    
    color: #000000;
    padding: 16px;
    align-items: center;
    width: 550px;
    height: 50px;
    border-radius: 8px;
}

.header-top form a{
    margin-left: -50px;   
}

.header-botton{
    display: flex;
    height: 80px;
    padding-left: 180px;    
}

.header-botton ul {
    display: flex;
    flex-direction: row;
}

.header-botton ul li{
    padding-right: 10px;
    letter-spacing: 0.75px; 
}

.header-botton ul li a{   
    text-decoration: none;         
}

/* começa o corpo do site */


/* Inicio da section Melhores Ofertas */

section{
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;    
}

section .banner-text {
    width: 40%;
    height: 680px;
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
    letter-spacing: 1px             
}

section .banner-text h1 {
    margin: 20px 0;
    color: #1F1F1F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 66px;       
}

section .banner-text h4 {
    color: #F6AA1C;
    letter-spacing: 0.75px;
}

section .banner-text button {
    margin: 20px 0;
    width: 220px;
    height: 48px;
    color: aliceblue;
    background: #C92071;
    border-radius: 5px;
    cursor: pointer;
}

section .banner-text button:hover {
    background: #991956;
    transition: all 200ms ease;
}


section .images{
    width: 60%;
    height: 680px;
    display: flex;
    flex-direction: row;
}

section .images figure img{
    width: 800px;
    height: auto;
}

section .images .ornamento{
    margin-top: 60px;
    width: 160px;
    height: 160px;
}

/* Inicio da main de produtos*/
/* inicio da section de produtos em destaque */

main {
    padding: 30px;
    background-color: #F9F8FE;
    width: 100%;
    height: auto;     
}

main div h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.75px;
    color: #474747;
    margin-left: 100px;
}

main .destaques {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px;
}

main .destaques div {
    padding: 25px;
    background: #D8E3F2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 400px;
    height: 200px;
    overflow: hidden;
}

main .fig-destaque{
    
}

main p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background: #E7FF86;
    border-radius: 29px;
}

main button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    letter-spacing: 0.75px;
    color: #C92071;
    background: #F5F5F5;
    border-radius: 8px;
    cursor: pointer;
}

main button:hover {
    background: #C92071;
    color: #F5F5F5;
    transition: all 200ms ease;
}

main .destaques-link {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .destaques-link div {
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
}

/* produtos em alta */

main .produtos {
    display: flex;
    flex-direction: column; 
}

main .produtos-alta { 
    display: flex;
    justify-content: center;  
    gap: 10px;    
}

main .produtos-alta div{
    
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 300px;
    height: 300px;
}